{{- $commentPath := .RelPermalink -}}
{{- with .Aliases -}}
	{{- $commentPath = index . 0 -}}
{{- end -}}
{{- with .Params.commentPath -}}
	{{- $commentPath = . -}}
{{- end -}}
{{- $issuesURL := "https://github.com/cvvz/cvvz.github.io/issues" -}}
{{- $issueNumber := index .Site.Data.comment_issues $commentPath -}}
{{- $discussionURL := printf "%s?q=%s" $issuesURL (printf "is:issue in:title %q" $commentPath | urlquery) -}}
{{- with $issueNumber -}}
	{{- $discussionURL = printf "%s/%v" $issuesURL . -}}
{{- end -}}
<script src="https://utteranc.es/client.js"
	repo="cvvz/cvvz.github.io"
	{{ if $issueNumber }}issue-number="{{ $issueNumber }}"{{ else }}issue-term="{{ $commentPath }}"{{ end }}
	theme="github-light"
	crossorigin="anonymous"
	async>
</script>
<noscript>
	<p>请启用 JavaScript 以加载评论框。</p>
</noscript>
<p class="comments-help">
	<small>评论框无法加载时，可<a href="{{ $discussionURL }}" target="_blank" rel="noopener">在 GitHub 查看或参与讨论</a>。</small>
</p>
